# OS-specific files
**.DS_Store

**.a 

target/

# Zig-specific build artifacts
zig-cache/
.zig-cache/
zig-out/
/release/
/debug/
/build/
/build-*/
/docgen_tmp/
docsite/
cairo-vm-env
cairo-vm
tmp/
profile.json

# we dont need compiled cairo programs in repo
/cairo_programs/*.json
/cairo_programs/benchmarks/*.json

# Misc
.vscode/
